*{
    margin: 0;
    padding: 0;
}
body{
    font-family: Arial, Helvetica, sans-serif;
}
.topnav{
  
    
    padding: 20px;
    width: 97,5%;
    height: 50px;
    background-attachment: fixed;
    color: white;
    position: relative;
    z-index: 10;
    backdrop-filter: blur(2px);
   
    
}
.responsa{
    overflow: hidden;
    transition: all .5s;
}

.topnav a{
    display: inline;
    padding: 20px 30px;
    text-decoration: none;
    color: white;
    font-weight: bold;
    text-transform: uppercase;
    float: left;
    margin-top: 0;
    text-shadow:  0 5px 10px rgba(8, 8, 8, 0.79);
    float: right;
    font-size: 15px;
}
.menu{
    border: none;
    background-color: transparent;
    color: #fff;
    font-size: 36px;
    position: absolute;
    right: 15px;
    top: 15px;
    display: none;
}
.menu:focus ~ .topnav a{
    height: 100%;
    background-color: #000000;
    margin-bottom: 50%;
}
.topnav a:hover,
.menu:hover{
    transition-duration: 0.5s;
    color: #ffc107;
    cursor: pointer;
    opacity: 0.8;
    font-size: 17px;

}
.clouse{
    /* float: right; */
 position: absolute;
 top: 17px;
 left: 90%;
 text-decoration: none;
 font-size: 50px;
 color: white;
 z-index: 15;
 outline: none;
 visibility: hidden;
}

.botao-menu{
 border: none;
 background-color: transparent;
 color: #585858;
 font-size: 36px;
 float: right;
 margin-top: 5%;
 display: none;
 outline: none;
 cursor: pointer;
 align-self: center;
 transition: all 0.2s;
}

input{
    text-align: center;
    color: white;
    outline: 0;
    border: none;
}
input:hover{
    border: 2px white;
}

.procurar{
    margin-top: 25%;
    height: 50px;
    width: 40%;
    border-radius: 30px;
    margin-left: 30%;
    color: black;

}
.logo{
    position: absolute;
    top: 5%;
    left: 2%;
}
.maps{

    position: absolute;
    width: 100%;
    top: 0;
}
h1{
text-align: center;
    margin-top: 45%;
    animation-duration: 2s;
    animation-name: sel;
    position: absolute;
    top: 0%;
    right: 35%;
    left: 35%;
    color: #EF6C00;
    font-size: 45px;
    text-shadow: 0 5px 10px rgb(8 8 8 / 19%);
    font-weight: 800;
    text-transform: uppercase;
    
  
}
@keyframes sel{
    from{
        margin-right: 100%;
        height: 100%;
    }
    to{
        margin-right: 0%;
        height: 100%;
    }
}
.cards1{
    width: 70%;
    margin-left: 15%;
    margin-right: 15%;
    margin-top: 48%;
    border: solid 2px rgb(166, 166, 166) ; 
    margin-bottom: 10%;
    height: 680px;
    padding-bottom: 1%;
    border-bottom-right-radius: 10px;
    border-bottom-left-radius: 10px;
    
}
.cards1:hover{
    box-shadow: 0 5px 10px rgba(8, 8, 8, 0.79);
}
.cards1 a{
    background-color: #ffc107;
    padding: 15px 25px;
    text-decoration: none;
   font-weight: bold;
    color: white;
    cursor: pointer;
    text-transform: uppercase;
    text-shadow:  0 5px 10px rgba(8, 8, 8, 0.24);
    border-radius: 15px;
}
.cards1 a:hover{
    transition: 0.5s;
    font-size: 17px;
    box-shadow: 0 5px 10px rgba(8, 8, 8, 0.79);
}

.card-grid{
    display: grid;
    grid-template-areas: "mapa img";
    grid-template-columns: 65% 35%;
    
}
.card-text{
    padding: 2% 3%;
}
.maps-card{
    grid-area: mapa;
    margin-right: 3px;

}
.imagem{
    grid-area: img;
    width: 100%;
}


.cards2{
    width: 70%;
    margin-left: 15%;
    margin-right: 15%;
    
    border: solid 2px rgb(166, 166, 166);
    margin-bottom: 10%;
    height: 680px;
    padding-bottom: 1%;
    border-bottom-right-radius: 10px;
    border-bottom-left-radius: 10px;
}
.cards2:hover{
    box-shadow: 0 5px 10px rgba(8, 8, 8, 0.79);
}
.cards2 a{
    background-color: #ffc107;
    padding: 15px 25px;
    text-decoration: none;
    font-weight: bold;
    color: white;
    cursor: pointer;
    text-transform: uppercase;
    text-shadow:  0 5px 10px rgba(8, 8, 8, 0.24);
    border-radius: 15px;
}
.cards2 a:hover{
    transition: 0.5s;
    font-size: 17px;
    box-shadow: 0 5px 10px rgba(8, 8, 8, 0.79);
}

.text-descricao{

    display: grid;
    grid-gap: 5%;
    grid-template-areas: "descricao1 descricao2 link";
    grid-template-columns: 180% 70% 20%;
    float: left;
    margin-top: 3%;
}
.descricao1{
    grid-area: descricao1;
}
.descricao1 h5{
    margin-bottom: 1px;
}
.descricao2{
    grid-area: descricao2;
}
.cards-links{
    padding: 10px 25px;
    float: right;
    grid-area: link;
    margin-top: 5%;
    float: right;
}
.cards-links2{
    padding: 10px 25px;
    float: right;
    grid-area: link;
    margin-top: 5%;
    float: right;
}

/*INICIO DE MODAL TRILHAS*/
.modal-cards{
    visibility: hidden;
    opacity: 0;
    position: absolute;
    top: 0;
    bottom: 0;
    right: 0;
    left: 0;
    display: flex;
    align-items: center;
    justify-content: center;
    transition: all 0.4s;
    z-index: 20;
}
.modal-cards:target{
  
    visibility: visible;
    opacity: 1;
    background-color: rgba(0, 0, 0, 0.737);
    backdrop-filter: blur(6px);
    
}
.modal_container{
    position: relative;
    width: 40%;
    max-width: 90%;
    background: #fff;
    display: grid;
    grid-gap: 5%;
    grid-template-areas: "Img Text";
    border-radius: 10px;
    height: auto;
    grid-template-columns: 50% 40%;

}
.img-car{
    grid-area: Img;
    width: 100%;
    height: 100%;
}
.modal_text{
   
    grid-area: Text;
    width: 90%;

    height: 100%;
    padding-top: 10%;
    padding-bottom: 10%;
}
.modal_text p{
    margin-bottom: 10px;
}

.modal_text h2{
    margin-bottom: 10%;
}
.aventurar{
    background-color: #ffc107;
    padding: 10px 20px;
    float: right;
    text-decoration: none;
    color: white;
    border-radius: 15px;
    font-weight: bold;
    margin-top: 30%;
}
  .reservar:hover{
    box-shadow: 0 4px 10px rgba(0, 0, 0, 0.655);
  }
.modal_clouse{
    position: absolute;
    top: 10px;
    right: 10px;
    color: black; 
    text-decoration: none;
}
.modal_footer-btn-clouse{
    width: 150px;
    padding: 10px;
    text-decoration: none;
    background-color: #cfcca8;
    color: black;
    border-radius: 3px;
}
/*FIM DE MODAL DE CARDS*/

footer{
    margin-top: 10%;
    background-color: #232323;
   height: 200px;
    color: #bbbbbb;
    padding: 7% 10%;
    
}
.container-footer{
    display: grid;
    grid-template-areas: "Fimg Ftext1 Ftext2 Ftext3";
    grid-template-columns: 20% 20% 20% 20%;
    grid-gap: 8%;
}
.container-footer h4{
    color: white;
    margin-bottom: 7%;
}
.container-footer p{
    margin-bottom: 7%;
}
.container-footer img{
    grid-area: Fimg;
    width: 100%;
}
.container-footer i{
    font-size: 35px;
    margin-right: 5%;
}
.text-footer{
    grid-area: Ftext1;
}
.text2-footer{
    grid-area: Ftext2;
}
.text3-footer{
    grid-area: Ftext3;
}

@media screen and (max-width: 700px){
body{
    width: 84%;
}
.container-menu{
    width: 100%;
   
    padding-right: 20%;
   
    
}
.conteudo{
    width: 100%;
    padding-left: 10%;
    padding-right: 10%;
    
}

/*MENU*/
.topnav{
    display: flex;
    flex-direction: column;
    align-items: unset;
    align-items: flex-start;  
    width: 100%;
    padding: 0;   
}
nav{
    width: 120%;
    margin: 0;
    padding: 0;
}
.topnav a{
    color: white;
}
.logo{
    width: 20%;
    height: auto;
}
.menu-responsa{
    overflow: auto;
    visibility: hidden;
    opacity: 0;
    backdrop-filter: blur(3px);
    padding-top: 60px;
    padding-bottom: 30px;
}
.menu-responsa:target{
    visibility: visible;
    opacity: 1;
    background-color: #0505059e;
    width: auto;
    margin-top: 0;
    transition: all 0.5s;
    padding-left: 60px;
}





.topnav a{
    flex-direction: column;
    text-align: center;
    width: 100%;
    
}
.Home{
    float: left;
}
.botao-menu{
    display: flex;
    flex-basis: auto;
    text-decoration: none;  
    z-index: 20;
    position: absolute;
    left: 86%; 
}
.botao-menu:target{
    display: none;
    color: #232323;
}
.procurar{
    margin-top: 110%;
    height: 100%;
    width: 90%;
    border-radius: 30px;
    margin-left: 10%;
    color: black;
    margin-right: 10%;
    padding: 5%;

}

h1{
    top: 85%;
    font-size: 35px;
    left: 30%;

}

.maps{

}
.container{
    display: block;
}

.cards1{
    margin-bottom: 7%;
    width: 90%;
    margin-top: 300%;
    height: 640px;
}
.cards2{
    margin-bottom: 7%;
    margin-top: 5%;
    width: 90%;
    height: 640px;
    
}
.card-grid{
    grid-template-columns: 101%;
    height: 370px;

}
.imagem {
    visibility: hidden;

}


.mapa_Principal{
}
iframe{
    height: 870px;
}

.maps-card{

}
.maps-card iframe{
    height: 350px;
}

.text-descricao{
    display: block;
}


.modal_container{
    display: block;
    width: 80%;

}
.modal_text{
    padding-left: 5%;
    padding-right: 5%;

}
.img-car img{
    width: 100%;

}
.aventurar{
    margin-top: 10%;
    margin-bottom: 5%;
}

footer{
    width: 100%;
    height: auto;
    margin-top: 20%;
}
.container-footer{
    display: block;
    text-align: center;
}
.container-footer img{
    width: 50%;
    margin-top: 15%;
}
.container-footer h4{
    font-size: 23px;
}
.container-footer p{
    font-size: 19px;
}
}





